<li class="col-sm-12 col-md-10 offset-md-2 col-xl-6 skills__list-item skills__list-item--{{this.side}}">
    <div class="row skills__list-item__info">
        <div class="col-md-2 col-sm-12">
            <i class="{{this.icon}} skills__list-item__info__icon"></i>
        </div>
        <div class="col-md-9 col-sm-12">
            <h3 class="skills__list-item__info__title">{{ this.name }}</h3>
            <p class="skills__list-item__info__type">{{ this.type }}</p>
            <p class="skills__list-item__info__desc">{{ this.content }}</p>
        </div>
    </div>
</li>
