<section class="privacy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque alias quidem velit temporibus
                        rem quasi hic, tempora necessitatibus cupiditate illo, delectus consequuntur deserunt odit
                        facere quia! Accusantium, temporibus. Nesciunt, voluptatibus?</span>
                    <span>Quis sapiente facere odio animi voluptate, ex rerum quam nostrum. Velit culpa voluptate
                        repellendus delectus ex ipsa, modi temporibus magni labore! Delectus doloremque odit, obcaecati
                        dolores similique enim officia voluptatibus.</span>
                    <span>Obcaecati odit vel odio repellat deleniti unde laboriosam aspernatur libero voluptas doloribus
                        dolor nihil non, explicabo nostrum mollitia veritatis minima alias eveniet eaque ut illo vero
                        esse? Assumenda, minima rem.</span>
                </p>
                <p>
                    <span>Ratione aliquam unde perferendis provident temporibus laboriosam deserunt ducimus saepe
                        facilis in, atque voluptate libero fuga voluptas et illum mollitia eligendi aut earum hic natus
                        aspernatur! Hic consectetur laborum voluptatem.</span>
                    <span>Qui voluptatum incidunt, cumque ab nostrum praesentium excepturi doloribus harum rem.
                        Deserunt, libero pariatur, necessitatibus incidunt a officiis quo laborum quidem modi nam at
                        veritatis voluptatum, eaque rem hic laudantium.</span>
                    <span>Incidunt ullam deleniti, ab nobis illo numquam ducimus totam hic dolores fuga expedita
                        adipisci sequi voluptatibus, a facere nihil, facilis eligendi. Aut iure cupiditate quae laborum
                        eum nostrum natus blanditiis!</span>
                </p>
                <p>
                    <span>Repudiandae, quas. Quis quod vel non ad quae aperiam molestiae eius perspiciatis, doloremque
                        obcaecati corporis! Sequi adipisci consectetur totam ex harum quis, quidem ea amet tenetur qui
                        asperiores sunt facere!</span>
                    <span>Porro libero doloremque harum, quisquam impedit ab ratione qui rerum quod praesentium officiis
                        ad ullam nulla obcaecati. Ratione quod nobis incidunt hic, similique, fugiat dignissimos debitis
                        animi asperiores perferendis architecto.</span>
                    <span>Explicabo alias eum deserunt quia reiciendis debitis autem quos animi facere iste, esse quis
                        tempora voluptas minus expedita earum illum? Ut dolore rerum sint quisquam quasi illo autem
                        sapiente vitae.</span>
                </p>
                <p>
                    <span>A nemo sint cupiditate cum, soluta reprehenderit id repellat libero aperiam. Iusto quae
                        repellendus maxime minus laudantium magnam quidem reprehenderit exercitationem maiores
                        consequuntur natus reiciendis ex, esse velit ipsum ad.</span>
                    <span>Magni, cumque optio laboriosam soluta quas fugiat culpa unde assumenda delectus quos
                        consectetur modi impedit iure odit blanditiis dolorem et tempore. Accusamus iure tenetur iusto
                        dicta eum. Non, error eveniet!</span>
                    <span>Eum tempore vero ab, debitis eveniet ut aut ea tenetur necessitatibus libero, eligendi commodi
                        provident laudantium illum voluptates perferendis iusto maxime at harum. Nam culpa repellat
                        dolorum, ea excepturi commodi.</span>
                </p>
                <p>
                    <span>Vitae amet voluptas perspiciatis? Quod illum neque odit sequi sed doloremque rerum sint,
                        repudiandae tempora illo amet necessitatibus dolores totam, recusandae alias perferendis
                        deleniti. Consequuntur id unde cum doloremque. Dicta.</span>
                    <span>Nulla animi voluptatem quasi iusto aliquam, itaque corrupti suscipit repellendus maxime at
                        optio sed, doloribus totam nobis. Corporis reiciendis qui rerum, libero incidunt culpa doloribus
                        est quo expedita repellat laboriosam.</span>
                    <span>Nisi illo ipsa sint, dolores at dolor quisquam sequi inventore voluptas ad velit aut magnam
                        necessitatibus molestiae praesentium laborum? Fugiat error magnam rem, nemo velit cumque
                        voluptate aliquam ex tempore.</span>
                </p>
                <p>
                    <span>Omnis perspiciatis, repellat inventore similique laborum dicta necessitatibus, at repudiandae
                        laudantium veritatis ea fuga ex! Eum, itaque consequatur deleniti beatae ad non tempora aperiam
                        ipsum maiores iste? Quibusdam, ea nihil?</span>
                    <span>Voluptates doloremque accusantium repellendus velit ad veniam laborum explicabo ex! Et minus
                        nisi in, est quaerat blanditiis! Error vel magni minima aut eaque fugit, est voluptas voluptate
                        repellat commodi doloremque?</span>
                    <span>Eaque reiciendis eveniet doloribus placeat ad, repellendus quia accusamus eligendi voluptate
                        adipisci ratione doloremque corporis illo voluptatum nemo maiores natus perferendis enim
                        dignissimos consequuntur labore. Nemo tenetur neque placeat similique.</span>
                </p>
            </div>
        </div>
    </div>
</section>