<footer class="col-12 footer">
	<div class="row">
		<div class="col-sm-12 col-md-6 footer__copyright footer__copyright--creator">
			<p class="footer__copyright__text">created with <span class="footer__copyright__text--award">plumming</span> love to code</p>
		</div>
		<div class="col-sm-12 col-md-6 footer__copyright footer__copyright--privacy">
				<a href="{{ footer.language.pl.privacy.anchor.reference }}" class="footer__copyright__text footer__copyright__link">{{ footer.language.pl.privacy.anchor.value }}</a>
		</div>
	</div>
</footer>