<section class="contact" id="contact">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <h2 class="contact__title">In touch</h2>
          </div>
          <div class="cl-sm-12 col-md-6 offset-md-3 contact__info-row">
             <div class="row">
                <div class="col-3"><a href="https://github.com/plumthedev" class="contact__link">github</a></div>
                <div class="col-3"><a href="https://www.linkedin.com/in/plumthedev" class="contact__link">linkedin</a></div>
                <div class="col-3"><a href="https://twitter.com/plumthedev" class="contact__link">twitter</a></div>
                <div class="col-3"><a href="https://www.reddit.com/user/plumthedev" class="contact__link">reddit</a></div>
             </div>
          </div>
          <div class="col-12 contact__info-row">
                <div class="row">
                   <div class="col-6 text-left"><p class="contact__copyright">created with <span class="contact__copyright--award">plumming</span> love to code</p></div>
                   <div class="col-6 text-right"><a href="/en/data-protection-information.html" class="contact__link contact__link--copyright">Data Protection Information</a></div>
                </div>
             </div>
       </div>
    </div>
    </div>
 </section>