.footer{
    &__link{
        text-align: center;
        color: #2c3e50;
        @media only screen and (max-width: 768px) {
            &--wrap{
                margin: 0px 0px 25px;
            }
        }
        &:hover{
            color: #2c3e50;
            text-decoration: none;
        }
    }
    &__copyright{
        font-size: 14px;
        &--award{
            font-weight: 700;
            color: #8e44ad;
        }

        &:first-child{
            text-align: left;
            @media only screen and (max-width: 768px) {
                text-align: center;
                padding: 0px 0px 10px;
            }
        }
        &:last-child{
            a{
                display: block;
                text-align: right;
                @media only screen and (max-width: 768px) {
                    text-align: center;
                }
            }
        }
    }
}