<div class="col-md-6 col-sm-12 skills-single skills-single--{{this.side}}">
    <div class="row skills-single__info">
       <div class="col-md-2 col-sm-12">
          <i class="{{this.icon}} skills-single__icon"></i>
       </div>
       <div class="col-md-9 col-sm-12">
          <h3 class="skills-single__info-title">{{this.name}}</h3>
          <p class="skills-single__info-type">{{this.type}}</p>
          <p class="skills-single__info-desc">{{this.content}}</p>
       </div>
    </div>
 </div>