<section class="contact" id="contact">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <h2 class="contact__title">{{ contact.language.en.titleText }}</h2>
          </div>
          <nav class="col-sm-12 col-md-6 offset-md-3 contact__nav">
             <ul class="row contact__nav__list">
                {{#each contact.language.en.contactLinks}}
                   <li class="col-sm-12 col-md-3 text-center contact__nav__list-item">
                         <a href="{{this.link}}" class="contact__nav__list-item__link">{{ this.title }}</a>
                   </li>
                {{/each}}
             </ul>
          </nav>
          {{> en__dpi__footer }}
       </div>
    </div>
    </div>
 </section>