<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact__title">{{ titleText }}</h2>
            </div>
            <div class="col-12">
                <form class="contact__form" id="contact-form" action="{{config.contactFormAction}}" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name" class="contact__form__label">{{form.inputs.name.label}} <small>({{form.requiredText}})</small></label>
                            <input type="text" class="form-control contact__form__input" data-validation="length" data-validation-length="3-24" data-validation-error-msg="{{form.inputs.name.validationError}}" id="name" placeholder="{{form.inputs.name.placeholder}}" data-validation="required">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname" class="contact__form__label">{{form.inputs.surname.label}} <small>({{form.requiredText}})</small></label>
                            <input type="text" class="form-control contact__form__input" id="surname" data-validation="length" data-validation-length="3-32" data-validation-error-msg="{{form.inputs.surname.validationError}}" placeholder="{{form.inputs.surname.placeholder}}" data-validation="required">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email" class="contact__form__label">{{form.inputs.email.label}} <small>({{form.requiredText}})</small></label>
                            <input type="email" class="form-control contact__form__input" data-validation="email" data-validation-error-msg="{{form.inputs.email.validationError}}" id="email" placeholder="{{form.inputs.email.placeholder}}" data-validation="required">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="subject" class="contact__form__label">{{form.inputs.subject.label}}</label>
                            <input type="text" class="form-control contact__form__input" id="subject" placeholder="{{form.inputs.subject.placeholder}}" data-validation-optional="true" data-validation="length" data-validation-length="3-16" data-validation-error-msg="{{form.inputs.subject.validationError}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="contact__form__label">{{form.inputs.message.label}} <small>({{form.requiredText}})</small></label>
                        <textarea name="message" id="message" class="form-control contact__form__input contact__form__input--textarea" placeholder="{{form.inputs.message.placeholder}}" data-validation="length" data-validation-length="25-5000" data-validation-error-msg="{{form.inputs.message.validationError}}" data-validation="required"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="privacyCheck" data-validation="required" data-validation-error-msg="{{form.inputs.privacy.validationError}}">
                            <label class="contact__form__label" for="privacyCheck">
                                {{form.inputs.privacy.label}}
                                <a href="{{form.inputs.privacy.link.href}}" class="contact__form__label__link">{{form.inputs.privacy.link.text}}</a>
                                <small>({{form.requiredText}})</small>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn contact__form__btn">{{form.inputs.button.text}}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="contact__nav">
        <div class="container">
            <div class="row">
                <nav class="col-12">
                    <ul class="row contact__nav__list">
                        {{#each contactLinks}}
                            <li class="col-sm-12 col-md-3 text-center contact__nav__list-item">
                                <a href="{{ this.link }}" class="contact__nav__list-item__link">{{ this.title }}</a>
                            </li>
                        {{/each }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
