<footer class="footer">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-12 col-md-6 footer__copyright footer__copyright--creator">
                    <p class="footer__copyright__text">created with <span class="footer__copyright__text--award">plumming</span> love to code</p>
                </div>
                <div class="col-sm-12 col-md-6 footer__copyright footer__copyright--privacy">
                    <a href="{{footerLink.href}}" class="footer__copyright__text footer__copyright__link">{{ footerLink.text }}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
