@keyframes bounce-in{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes bounce-out{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}